@font-face{
    font-family: 'street fither';
    src: url('../fontes/fontes/SSF4_ABUKET.woff');

}

@font-face{
font-family: 'command';
src: url('../fontes/fontes/PILOT_COMMAND.otf');


}

